@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: "Poppins", sans-serif;
}

nav{
    background-color: #485364;
    padding: 20px;
}

li{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.login_e_crie_sua_conta{
    display: flex;
    gap: 80px;
    margin-right: 5%;
}

.logo_e_nome{
    display: flex;
}
.marca{
    color: #34D399;
    margin-top: 22px;
    font-weight: bold;
    font-size: 28px;
}

.subtitulo{
    margin-top: 30px;
}

.link_logo{
    text-decoration: none;
    color: #34D399;
}

.crie_sua_conta{
    background-color: #0B3B88;
    border-radius: 20px;
    padding: 12px;
    
}

.login_link{
    text-decoration: none;
    color: white;

}

.cadastro_link{
    text-decoration: none;
    color: white;
}

.container_1{
    background-color:#374151 ;
    padding: 19%;
    display: flex;
}
.titulo_section1{
    font-size: 50px;
    width: 80%;
    margin-top: -18%;
    margin-left: -14%;
}


.verde{
    color: #34D399;
}